# BD
PORT = 'Puerto de la API'

DATABASE_NAME= 'Nombre de la base de datos'
DATABASE_PATH= 'Ruta de la base de datos'

# JWT configuration
JWT_SECRET_KEY = "secret_key"
JWT_ACCESS_TOKEN_EXPIRES = 3600
JWT_REFRESH_TOKEN_EXPIRES = 86400

# FLASK-MAIL
# Ejemplo de configuración para envío con servidor de gmail:
MAIL_SERVER = "smtp.gmail.com"
MAIL_PORT = "587"
MAIL_USE_TLS = "True"
MAIL_USERNAME = "tucorreode@mail.com"
MAIL_PASSWORD = "la clave que te da gmail"
FLASKY_MAIL_SENDER = "Mi sistema ADMIN"