# BD
PORT = 'Puerto de la API'

DATABASE_NAME= 'Nombre de la base de datos'
DATABASE_PATH= 'Ruta de la base de datos'

# JWT configuration
JWT_SECRET_KEY = "secret_key"
JWT_ACCESS_TOKEN_EXPIRES = 3600